[submodule "zsh/powerlevel10k"]
	path = zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/zsh-vi-mode"]
	path = zsh/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule "easyjump.tmux"]
	path = easyjump.tmux
	url = https://github.com/roy2220/easyjump.tmux.git
