@import '/home/murtaza/.cache/wal/colors-waybar.css';

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "UbuntuMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
}

window#waybar {
    background-color: alpha(@background, 0.8);
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    /* border: 2px solid @background; */
    color: @foreground;
    transition-property: background-color, border-color, color;
    transition-duration: .2s;
    /* border-radius: 20px; */
    padding: 0 20px;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /*box-shadow: inset 0 -3px transparent;*/
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#pulseaudio {
    transition-property: background-color, border-color, color;
    transition-duration: .2s;
}
/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: @color2;
    color: @background;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @foreground;
    margin: 10px 4px;
    /* border-radius: 25px; */
    transition-duration: 0;
    border: 2px solid @foreground;
    font-weight: bold;
}

#workspaces button:hover {
    text-decoration: none;
    text-shadow: none;
    border: 2px solid @color1;
}

#workspaces button.active {
    background-color: @color1;
    border: 2px solid @color1;
    color: @background;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: #64727D;
    /*box-shadow: inset 0 -3px #ffffff;*/
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-waymedia,
#mpd {
    padding: 0 15px 0 10px;
    color: @foreground;
    background-color: transparent;
    margin: 10px 5px;
    font-weight: bold;
    /* border: 3px solid @foreground; */
    border: none;
}

#custom-waymedia {
    font-weight: normal;
}

#window,
#workspaces {
    margin: 0 10px;
}

#clock {
    margin-right: 10px;
    /* background-color: @color4; */
    border-color: @color4;
}

#window {
    border-radius: 8px;
}

/*.modules-left > widget:first-child > #workspaces {*/
/*    margin-left: 0;*/
/*}*/
/**/
/*.modules-right > widget:last-child > #workspaces {*/
/*    margin-right: 0;*/
/*}*/


#battery {
    background-color: @color7;
}

#battery.charging, #battery.plugged {
    background-color: @color2;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}


/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @color1;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes media-blink {
    to {
        color: @color2;
    }
}

#custom-waymedia.playing {
    animation-name: media-blink;
    animation-duration: 1.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-waymedia:hover {
    animation: none;
    color: @background;
    background-color: @color2;
}

label:focus {
    background-color: #000000;
}

#cpu {
    /* background-color: @color3; */
    color: @color4;
    border-color: @color4;
}

#cpu:hover {
    background-color: @color4;
    color: @background;
}

#memory {
    background-color: @color2;
}

#disk {
    background-color: @color2;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    /* background-color: @color6; */
    border-color: @color3;
    color: @color3;
}
#network:hover {
    background-color: @color3;
    color: @background;
    /* opacity: 0.8; */
}

#network.disconnected {
    background-color: @color1;
}

#pulseaudio {
    /* background-color: @color2; */
    border-color: @color2;
    color: @color2;
    padding-right: 5px;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#temperature {
    background-color: @color2;
}

#temperature.critical {
    background-color: @color1;
}

#tray {
    background-color: transparent;
    /* border: 1px solid @color8; */
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}
